/* ======================================
//  Class styles
// ====================================*/

.border {
	border: thin solid red;
}

.button, .input-search-toggle {
	background: $color-bg;
	border: 1px solid $color-text;
	border-radius: 8px;
	color: $color-text;
	display: inline-block;
	height: $height-button;
	padding: 0 16px;
	text-align: center;
	text-decoration: none;
}

.button {
	font: bold $font-size-h6 $font-secondary;
	letter-spacing: 3px;
	line-height: $height-button;
	min-width: $height-button; // Ensures that button is always a square at its smallest size.
	text-transform: uppercase;
	&:hover {
		background: $color-text;
		color: $color-bg;
	}
	&:focus {
		background: $color-text;
		border-color: $color-outline;
		color: $color-bg;
    outline: 1px solid transparent;
	}
	&-active {
    background: $color-text;
		color: $color-bg;
  }
	&-ellipsis {
		width: calc(#{$height-button} / 1.5);
	}
}