// ======================================
//  Mixins
// ======================================

@mixin flexbox($flex-flow: row wrap, $justify-content: center, $display: flex, $align-content: center, $align-items: center) {
  display: $display;
  flex-flow: $flex-flow;
  justify-content: $justify-content;
  align-content: $align-content;
	align-items: $align-items;
  @content;
}

// card description, card title, divider, footer, header, headings, hero