// ======================================
//  Variables
// ======================================



// Breakpoints 

$breakpoint-xs: 320px;                                     // XS screen breakpoint (e.g phones)
$breakpoint-s: 576px;                                      // Small screen breakpoint (e.g large phones)
$breakpoint-m: 768px;                                      // Medium screen breakpoint (e.g. tablets)
$breakpoint-l: 992px;                                      // Large screen breakpoint (e.g. laptops)
$breakpoint-xl: 1200px;                                    // XL screen breakpoint (e.g. desktops)
$breakpoint-xxl: 1920px;                                   // XXL screen breakpoint (e.g. large desktops)


// Colours


$color-primary: #C33;                                      // Primary colour
$color-secondary: #FEF160;                                 // Secondary colour
$color-dark: #222;                                         // Dark colour
$color-light: #000;                                        // Light colour

$color-bg: #FFF;                                           // Background colour
$color-text: #000;                                         // Text colour



$color-link: #C33;                                         // Link color
$color-link-hover: darken($color-link, 15%);               // Link color on hover

// Fonts

$font-size: 16px;                                          // Base font size
$font-size-h1: 2.5rem;                                     // h1 font size
$font-size-h2: 2rem;                                       // h2 font size
$font-size-h3: 1.5625rem;                                  // h3 font size
$font-size-h4: 1.25rem;                                    // h4 font size
$font-size-h5: 1rem;                                       // h5 font size
$font-size-h6: 0.8125rem;                                  // h6 font size
$font-size-h1-mob: 2.0625rem;                                 // h1 font size (mobile)
$font-size-h2-mob: 1.75rem;                                   // h2 font size (mobile)
$font-size-h3-mob: 1.4375rem;                              // h3 font size (mobile)
$font-size-h4-mob: 1.1875rem;                                // h4 font size (mobile)
$font-size-h5-mob: 1rem;                                   // h5 font size (mobile)
$font-size-h6-mob: 0.8125rem;                              // h6 font size (mobile)

$font-primary: "Raleway", sans-serif;                      // Default font
$font-secondary: "Montserrat", sans-serif;                 // Secondary font
$font-tertiary: "Josefin Sans", sans-serif;                // Logo font
$line-height: 1.5;                                         // Line height


// Scaling and transitions

$scale-hover-card: scale(1.05);                             // Hover scaling (cards only)
$transition-hover: 0.5s ease;                              // Hover transition
$transition-hover-card: all .3s ease-in-out;               // Hover transition (cards only)
$transition-scroll: top 0.5s ease;                         // Hyperlink scroll transition