/* ======================================
//  Posts styles
// ====================================*/

.posts {
	@include flexbox(row wrap, center);
	@include positioning(margin-top);
	a {
		color: $color-text;
		text-decoration: none;
	}
	.button {
		margin: 25px auto;
	}
	&-container {
		@include flexbox(row wrap, center);
    width: 98%;
	}
	&-listing {
		@include flexbox(row wrap, center, $align-items: flex-start);   
		width: 98%;
	}
}

@media all and (min-width: $breakpoint-m) {
	.posts {
		&-container {
			max-width: $width-max-website;
		}
	}
}