/* Error: Undefined variable.
 *    ,
 * 29 |         color: $color-text-alt;
 *    |                ^^^^^^^^^^^^^^^
 *    '
 *   scss/components/_pagination.scss 29:10  @import
 *   scss/main.scss 17:5                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 29 \2502          color: $color-text-alt;\a    \2502                 ^^^^^^^^^^^^^^^\a    \2575 \a   scss/components/_pagination.scss 29:10  @import\a   scss/main.scss 17:5                     root stylesheet";
}
