/* ======================================
//  Header styles
// ====================================*/

.header {
	@include flexbox(row wrap, center);
	background: $color-bg;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
  z-index: 1000;
	a {
		color: $color-light;
		font: bold 13px $font-secondary;
		letter-spacing: 3px;
		text-decoration: none;
		&:hover {
			color: $color-link;
			transition: $transition-hover;
		}
	}
	&-container {
    @include flexbox(row wrap, space-between);
		height: 100%;
    width: 100%;
  }
	&-logo {
    @include flexbox(row wrap, center);
		margin-left: 15px;
		order: -2;
    width: $width-logo;    // Required for IE to display SVG
    svg {
			fill: $color-text;
    }
  }
	&-links {
		@include flexbox(column wrap, space-around);
		background: $color-dark;
		height: $height-header-s;
		text-transform: uppercase;
		&:nth-child(2) {
			width: 100%;  // Ensures that links appear on seperate line
		}
    ul {
      @include flexbox(row wrap, space-between);
			height: 100%;
      list-style-type: none;
      margin: 0;
			max-width: 360px;
      padding: 0;
			text-align: center;
			width: calc(100% - 30px);

			li {
				@include flexbox(column wrap, center); // Ensures vertical centering  
				height: 100%;
				margin: 0;
				position: relative;
      }
    }
  }
	&-search {
		@include flexbox(row wrap, flex-end);
		margin-right: 15px;
		order: -1;
		width: $width-search-header;
  }
}

.header-active {
	&::before {
		background-color: $color-light;
		content: "";
		position: absolute;
		left: 0;
		height: 4px;
		top: 2px;
		width: 100%;
	}
	&:hover::before {
		background-color: $color-link;
		transition: $transition-hover;
	}
}

@media all and (min-width: $breakpoint-l) {
  .header {
		background: $color-dark;
    height: $height-header-m;
		a {
			font-size: 15px;
		}
    &-container {
			margin-left: 15px;
			margin-right: 15px;
      max-width: $breakpoint-xxl;
    }
    &-logo {
			justify-content: flex-start;
			margin-left: 0;
			margin-right: calc(#{$width-search-header} - 40px);
			order: 0;

			svg {
				fill: $color-light;
			}
    }
    &-links {
			height: 100%;
			order: 0;
			width: auto;
			&:nth-child(2) {
				flex-grow: 2;
				max-width: 600px;
				width: auto;    // Ensures that links appear on same line
			}
			ul {
				padding: 0 40px;
				max-width: 520px;
				width: 100%;	
			}
    }
		&-search {
			order: 0;
			margin: 0;
    }
		.search-header {
			background-color: $color-dark;
			width: $width-search-header;
		}
		.input-search-toggle {
			border-color: $color-dark;
			width: 100%;
		}
  }
	
}