/* ======================================
//  Search input styling
// ====================================*/

.search, .search-header {
	@include flexbox(row wrap, space-between);
	background-color: $color-bg;
}

.search {
	max-width: $width-max-text;
	.input-search {
		background-position: 12px center;
		background-size: 24px;
		flex-grow: 2;
		height: $height-button;
		margin-right: 16px;
	}
}

.search-header {
	justify-content: flex-end;
	max-width: $width-search-header;
	width: 100%;
	.input-search {
		width: 100%;
	}
}

