/* ======================================
//  Pagination styles
// ====================================*/

.pagination {
	@include flexbox(row wrap, center);
	margin: 0 auto;
	max-width: $width-max-text;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			&:first-child {
				transform: scale(-1);
			}
		}
	}
}

